/*Generales*/
* {
    margin: none;
    border: none;
    box-sizing: border-box;
}
body {
    background-image: url('https://images.pexels.com/photos/3879055/pexels-photo-3879055.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

nav {
    background: transparent;
    padding: 10px;
    display: flex;
    justify-content: space-around;
}

h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    text-align: center;
}

/*Bar menu*/

.nav-bar {
    background: rgba(37, 118, 143, 0.685);
    display: inline-block;
    text-decoration: none;
    padding: 15px;
    color: #000000;
    text-align: center;
    width: 150px;
    height: 50px;
}

.nav-button{
    background: rgba(37, 118, 143, 0.685);
    display: inline-block;
    text-decoration: none;
    padding: 15px;
    color: #000000;
    text-align: center;
    width: 150px;
    height: 50px;
    border: 2px solid #ffffff;
    display: none;
    
}

/*cuerpo*/
.box {
    padding: 8px;
    border-radius: 5px;
    border: solid 2px grey;
    background: white;
}



